@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;700&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css);


*{
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}

html,body{
    margin: 0;
    padding: 0;
    color : #fff;
    background-color: #000;
}

nav{
    padding: 25px;
    font-size: 2rem;
    letter-spacing: 2pt;
    border-bottom: 1px solid #eee;
    background-color: #000;
    color : #eee;
}

.main{
    padding: 30px;
}

select,input{
    border: none;
    padding: 5px;
    background-color: #fff !important;
}

button{
    border: none;
    padding: 10px 20px;
    font-size: 1;
    font-weight: 800;
}

table{
    width: 100%;
    border-collapse: collapse;
}

td{
    border: 1px solid #eee;
    border-top: none;
    padding: 10px;
    text-align: center  ;
}

thead{
    background-color: #eee;
    color: #000;
    text-align: center;
}

th{
    border: #000 1px solid;
    text-align: center !important;
}

td:nth-child(1){
    text-align: left;
}

label{
    color: #fff !important;
}

#massTable_filter{
    margin: 10px 0;
    text-align: left;
}

.select2-dropdown{
    background-color: #000;
    color: #fff;
}

.select2-results__option--highlighted{
    color: #000 !important;
}

#whName{
    padding: 0 75px;
    text-align: center;
}

